<h1>Welcome to Bookers！</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, quibusdam. Consequatur nihil harum incidunt ut dolorem praesentium nam veniam inventore a, velit tempore atque. Mollitia aperiam maxime quisquam enim libero.</p>

<!--- use bootstrap for start botton --->
<%= link_to "Start", books_path, class: "btn btn-primary" %>
<!---
    btn btn-{syntax..}
    primary = main blue
    secondary = sub grey
    success = confirmation/success green
    danger = danger/delete red
    warning = warning yellow
    info = info light blue
    light = white bg
    dark = black bg
--->